body {
    background-color: rgb(186, 175, 247);
  }
h1{
  color: indigo;
}
img{
  height: 200px;
  width: 200px;
}
.label{
  color: white;
}
.form-control{
  padding: 5px;
  border: 1.5px solid black;
  border-radius: 5px ;
}
.btn-devour{
  background-color:greenyellow;
  padding: 5.5px;
}